.chrono, .rapport{
    position: fixed;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

    top:20px;
    right:20px;
    display: block;
    z-index:999;
}
#fond input[type="button"], .btnRapport{
    border: 0px solid transparent;
    cursor: pointer;
}
.start{
    padding:10px;
    width: 100px;
}
.reset{
    padding:10px 10px;
    background-color: rgba(255, 100, 100, 0.8);
    color: white;
}

#chronotime, .btnRapport{
    display: block;
    text-align: center;
    padding:10px 30px;
    margin-bottom: 10px;
    background-color: #3C4249;
    color: white;
}
.rapport{
	top: 120px;
	right: 42px;
}
.btnRapport{
	background-color: rgba(59,200,122,0.8);
	border-radius: 3px;
}